body {
	max-width: 800px;
	margin: auto;
	font-family: verdana, sans-serif;

}

b {
	font-weight: bold;
	font-style: italic;
	color: grey;
	margin-left: 5px;
}

h1{
	font-size: 1.8em;
}

h2 {
	font-size: 1.4em;
}

h3{
	font-size: 1.1em;
}

h1, h2, h3, p, address, ul {
	margin: 8px 4px;
}

address {
	order: 2;
	width: ;
	text-align: right;
	align-content: flex-end;
	flex-grow: 1;

	animation: 600ms ease-out 0s 1 slideInFromRight;
}

section {
	border-bottom: 2px solid #1E90FF;
	animation: slideInFromBottom 1200ms;
}

header {
	display: flex;
	flex-direction: row;
	max-width: 800px;
	width: 100%;
	align-items: flex-end;
	
	border-bottom: 2px solid #1E90FF;
	position: fixed;
	top: 0;
	z-index: 9;
	background-color: white;
}

header h1 {
	animation: 600ms ease-out 0s 1 slideInFromLeft; 
	flex-grow: 1;
}

header + * {
	margin-top: 113px;
}

footer {
	height: 20px;
}

/*animations*/
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  75% {
  	transform: translateX(20px);
  }
  90% {
  	transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
	0% {
		transform: translateX(100%);
	}
	75% {
  		transform: translateX(-20px);
  	}
  	90% {
  		transform: translateX(10px);
  	}
	100% {
		transform: translateX(0);
	}
}

@keyframes slideInFromBottom {
	0% {
		transform: translateY(2000px);
	}
	100% {
		transform: translateY(0);
	}
}